VITE_AWS_REGION=us-east-1
VITE_AWS_COGNITO_USER_POOL_ID=us-east-1_XXXXXXXXX
VITE_AWS_COGNITO_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
VITE_API_URL=https://markets-api.jcampos.dev
VITE_BASE_DOMAIN=jcampos.dev
VITE_TEMPLATE_NAME=pollos-sales
VITE_TEMPLATE_DISPLAY_NAME=Pollos Porteños Sales
VITE_TEMPLATE_INDUSTRY=pos
VITE_SINPE_NUMBER=8888-8888
